body{
    text-align: center;
}

#main-heading{
    color:rgb(22, 9, 61);
    font-size:50px;
}
.section-heading{
    color:blue;
}
h2{
    color: blue;
}
#skills-heading{
    color:green;
    text-decoration:underline;
}
ol{
  display: inline-block;
  text-align: left;
}
.project-title{
    text-decoration: underline;
}
#skills{
    border:1px solid rgb(174, 104, 104);
    padding:20px;
    background-color: rgb(205, 73, 97);
}
.project-box{
    border:1px solid rgb(57, 15, 15);
    padding:20px;
    margin:10px;
    background-color: rgb(140, 120, 159);
}

#navbar{
    display: flex;
    padding-left: 20px;
    justify-content: space-around;
    flex-direction: row;
    
}
@media(max-width:768px)
{
#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;

}
}

.skills-heading{
    /*  display: flex;
    grid-template-columns: repeat(4,1fr);
    gap:80px;
    padding-left: 20px;
    padding-right: 20px;
   */
   display: flex;
    padding-left:20px;
    justify-content: space-around;
    flex-direction: row; 
    align-items: center;
    gap:80px;
    
}
@media(max-width:768px)
{
   .skills-heading{
  /*  display: grid;
    grid-template-columns:1fr,1fr;
   */
   display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
}

.about-container{
    display: flex;
    justify-content: space-between;
    gap:30px;
    padding:20px;
    align-items: center;
}

.about-container section{
    flex: 1;
    text-align: center;
    padding: 15px;
}

@media(max-width:768px){
    .about-container{
        flex-direction: column;
        gap: 20px;
    }
}